.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
    
}

.wave .shape-fill {
    fill: #FB9304;
}