@import 'bootstrap/scss/bootstrap';

.container {

        padding: 5%;
        .projeto {
                max-height: 900px;
                .photo {
                        height: 100%;
                        width: auto;

                }
                .text { 
                        margin-top: 10%;
                        margin-left: 1%;
                        color: var(--cor-branca);

                        h1 {
                                font-family: var(--texto-menor);
                                font-weight: 700;
                        }
                        p {
                                font-family: var(--texto-menor);
                                font-weight: 400;
                        }

                        .btn-grupo {
                                display: flex;
                                justify-content: space-around;
                                margin-top: 10%;
                                font-size: 25px;
                                
                                .git {

                                       display: flex;
                                       justify-content: space-evenly;
                                       align-items: center;
                                       color: var(--cor-laranja);

                                       a {
                                        color: var(--cor-laranja);
                                        text-decoration: none;
                                        font-family: var(--fonte-principal);
                                        font-weight: 600;
                                        padding-left: 10px;
                                       }

                                       background: transparent;
                                       border: 5px solid var(--cor-laranja);
                                       padding: 10px 50px;
                                       border-radius: 15px;

                                       &:hover {
                                        a {
                                                background-color: var(--cor-laranja);
                                                color: var(--cor-branca);
                                        }
                                        background-color: var(--cor-laranja);
                                        color: var(--cor-branca);
                                }

                                  
                                }
                                .gdrive {

                                        display: flex;
                                        justify-content: space-evenly;
                                        align-items: center;
                                        color: var(--cor-roxa);
                                        a {
                                                color: var(--cor-roxa);
                                                text-decoration: none;
                                                font-family: var(--fonte-principal);
                                                font-weight: 600;
                                                padding-left: 10px;
                                        }
                                        background: transparent;
                                        border: 5px solid var(--cor-roxa);
                                        padding: 10px 35px;
                                        border-radius: 10px;
                                        &:hover {
                                                a {
                                                        background-color: var(--cor-roxa);
                                                        color: var(--cor-branca);
                                                }
                                                background-color: var(--cor-roxa);
                                                color: var(--cor-branca);
                                        }
                                }
                        }
                }
        }

}




/* ANIMAÇÕES */


.slide-top {
	-webkit-animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
        }
}

.floating:hover { 
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
     
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }

//HOVER ANIMATIONS

.hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
  }
      