 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 }

 html, body, #root {
  background-color: #ffffff;
  height: 100%;
 }

 .navbar {
    display: flex;
    justify-content: space-between;

 }